<html>
<title>哔哩哔哩</title>
<body>
  <ul>
    <li>id</li>
    <li>title</li>
    <li>url</li>
    <li>avid</li>
    <li>mid</li>
  </ul>
  {% for video in videolist%}
    <ul>
      <li>{{ video.id }}</li>
      <li>{{ video.title }}</li>
      <li>{{ video.url }}</li>
      <li>{{ video.aid }}</li>
      <li>{{ video.mid }}</li>
    </ul>
  {% endfor %}
  <div class="pagination">
    <span class="step-links">
        {% if videolist.has_previous %}
            <a href="?page={{ videolist.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ videolist.number }} of {{ videolist.paginator.num_pages }}.
        </span>

        {% if videolist.has_next %}
            <a href="?page={{ videolist.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</body>
</html>
