version: "2" 
services:
    mysql:
        image: mysql:5.7.19
        volumes:
            - /var/lib/mysql
            - ./db:/etc/mysql/conf.d
        environment:
            - MYSQL_ROOT_PASSWORD=password
            - MYSQL_DATABASE=demon

    web:
        build: ./web/
        command: bash -c "python manage.py makemigrations &&
                          python manage.py migrate &&
                          python manage.py collectstatic -c <<< yes &&
                          supervisord -n -c supervisord.conf"
        expose:
            - "8001"
        depends_on:
            - mysql
            - nginx
        volumes:
            - ./web:/main/web
            - /var/log/demon/:/log
            - /tmp
            - ./nginx:/etc/nginx/sites-enabled
        links:
            - mysql:mysql 
            - redis:redis

    redis:
        restart: always
        image: redis:latest
        volumes:
            - /data

    nginx:
        restart: always
        image: nginx:1.13.5
        volumes_from:
            - web
        links:
            - web:web

