{% extends 'base.html' %}
{% load mytags %}
{% load static %}

{% block title %}
&hearts;月牙天冲爱你呦&hearts;
{% endblock %}

{% block body %}
<div class="ad-w100">
    <div class="input-group custom-search-form">
        <input type="text" class="form-control" placeholder="搜索电影名称..." name="search" id="searchinput">
        <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="fa-search">
                    <i class="fa fa-search"></i>
                </button>
            </span>
    </div>
</div>

<div class="box-series">
    <ul class="panel" id="movies-list">
        <li class="yk-col4 mr1">
            <div class="yk-pack pack-film">
                <div class="p-thumb"><a href="{{ tvinfo.url }}"
                                        title="{{ tvinfo.title }}" target="_blank" data-spm-anchor-id="a2h1n.8251845.0.0"></a><i
                        class="bg"></i><img class="quic" _src="{{ tvinfo.bg_img_url }}"
                                            src="{% if tvinfo.bg_img_url %} {{ tvinfo.bg_img_url }} {% endif %}" alt="{{ tvinfo.title }}"></div>
                <ul class="p-info pos-bottom">
                    <li class="status hover-hide"><span class="p-time "><i class="ibg"></i><span>正片</span></span></li>
                </ul>
                <ul class="info-list">
                    <li class="title"><a href="{{ tvinfo.url }}" title="{{ tvinfo.title }}"
                                         target="_blank">{{ tvinfo.title }}</a>
                    </li>
                    <li class="actor"><em>主演：</em><a href=""
                                                     target="_blank"
                                                     title="{{ tvinfo.lead_actor }}">{{ tvinfo.lead_actor }}</a>
                    </li>
                    <li>2.4万次播放</li>
                </ul>
            </div>
        </li>
    </ul>
</div>


<div class="time_pic list">
    <div class="time_con" style="display: block;">
        <div class="swiper-container xfswiper1 swiper-container-horizontal">
            <div class="swiper-wrapper mb20">
                <div class="swiper-slide swiper-slide-active" style="width: 850px;">
                    <ul class="clear" id="seq-list">
                        <li><a href="http://www.dilidili.wang/watch3/55721/" target="_self"><em><span>第0话</span>我的英雄学院
                            第二季 第0话 英雄笔记</em></a></li>
                        <li><a href="http://www.dilidili.wang/watch3/55825/" target="_self"><em><span>第1话</span>我的英雄学院
                            第二季 第1话 就是这么回事 御茶子同学</em></a></li>
                    </ul>
                </div>

            </div>
        </div>

        </div>
        <div class="swiper-button-next swiper-button-next4"></div>
        <div class="swiper-button-prev swiper-button-prev4 swiper-button-disabled"></div>
    </div>
    <div class="time_con" style="display: none;">
        <div class="stafflist">
            <div class="staff"><p class="row">原作：堀越耕平</p>
                <p class="row">监督：长崎健司</p>
                <p class="row">系列构成·脚本：黑田洋介</p>
                <p class="row">动画制作：BONES</p>
                <p class="row">音乐：林友树</p></div>
        </div>
        <div class="cast"><p class="row">主要配音山下大辉，三宅健太，冈本信彦，佐仓绫音</p></div>
        <div class="col-sm-6">
    </div>
</div>
<div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
        <ul class="pagination">
            <li class="paginate_button previous"
                aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                <a href="javascript:;">Previous</a>
            </li>
            <li class="paginate_button next">
                <a href="javascript:;">Next</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block css %}
<link href="{% static 'movies/css/main.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block js %}
<!-- jQuery -->
<script src="/static/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{% static 'movies/js/tv.js' %}"></script>
{% endblock %}

