.mr1 {
    margin-right: 20px!important
}


.yk-col4 {
    width: 200px
}


.yk-col4 {
    float: left;
    min-height: 1px;
    display: inline;
    margin-right: 20px
}

.box-series {
    width: 1080px;
    overflow: hidden;
    zoom: 1;
}

.box-series .panel {
    width: 1120px;
    overflow: hidden;
    zoom:1
}

.yk-pack {
    position: relative;
    background-color: #FFF;
}

.yk-pack .p-thumb {
    position: relative;
    overflow: hidden;
    zoom: 1;
    line-height: 18px;
}

.yk-pack .p-thumb a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    left: 0;
    top: 0;
    text-decoration: none;
    color: #FFF;
}

.pack-film .p-thumb img {
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.pack-film .pos-bottom {
    height: 20px;
    bottom: none;
    top: 268px;
}

.yk-pack .pos-bottom {
    position: absolute;
    bottom: 6px;
}

.yk-pack .p-info {
    width: 180px;
    margin: 0 10px;
    color: #DEDEDE;
}

.yk-pack .p-info .status {
    margin-bottom: 6px;
    overflow: visible;
}

.yk-pack .p-info li {
    white-space: nowrap;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yk-pack .p-time {
    color: #FFF;
    position: relative;
    float: right!important;
    margin-top: 2px;
    height: 18px;
    line-height: 18px;
}

.yk-pack .p-info li {
    white-space: nowrap;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yk-pack .p-time .ibg {
    border-radius: 2px;
    position: absolute;
    display: block;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    -ms-filter: alpha(opacity=50);
    filter: alpha(opacity=50);
    z-index: 0;
}

.yk-pack .p-time {
    color: #FFF;
    position: relative;
    float: right!important;
    margin-top: 2px;
    height: 18px;
    line-height: 18px;
}

.yk-pack .p-info li {
    white-space: nowrap;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yk-pack .p-time span {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    height: 18px;
    line-height: 18px;
    z-index: 10;
}

.box-series .info-list {
    height: 70px;
    margin-bottom: 0;
    margin-top: 1px;
}

.pack-film .info-list {
    padding: 5px 5px 5px 0;
}

li.title {
    color: #333;
    margin-bottom: 2px;
}

.pack-film .info-list .title {
    height: 18px;
    line-height: 18px;
    overflow: hidden;
}

.box-series .info-list li {
    width: 200px;
    float: left;
    padding: 0;
    line-height: 18px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.p-info li {
    list-style:none
}


.box-series .info-list li.actor {
    color: #999;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box-series .info-list li em {
    color: #999;
    font-style: normal
}

li.actor a {
    color: #999;
}

.yk-pager {
    text-align: center;
    line-height: 0;
}

.yk-pager .yk-pages {
    height: 30px;
    margin: 20px;
    display: inline-block;
}

.yk-pager .yk-pages li {
    float: left;
    margin-right: 5px;
}

.yk-pager .yk-pages .prev span, .yk-pager .yk-pages .next span {
    min-width: 0;
    width: 60px;
    padding: 0;
    color: #c6c6c6;
}

.yk-pager .yk-pages span {
    display: block;
    color: #555;
    background: #fff;
    min-width: 14px;
    _width: 14px;
    height: 28px;
    padding: 0 7px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #eee;
    font-size: 14px;
}

.ad-w100 {
    margin-top:50px;
    text-align:center;
    width: 1080px;
}

.contain {
    width: 100%;
}

