.mr1 {
    margin-right: 20px!important
}


.yk-col4 {
    width: 200px
}


.yk-col4 {
    float: left;
    min-height: 1px;
    display: inline;
    margin-right: 20px
}

.box-series {
    width: 1080px;
    overflow: hidden;
    zoom: 1;
}

.box-series .panel {
    width: 1120px;
    overflow: hidden;
    zoom:1
}

.yk-pack {
    position: relative;
    background-color: #FFF;
}

.yk-pack .p-thumb {
    position: relative;
    overflow: hidden;
    zoom: 1;
    line-height: 18px;
}

.yk-pack .p-thumb a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    left: 0;
    top: 0;
    text-decoration: none;
    color: #FFF;
}

.pack-film .p-thumb img {
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.pack-film .pos-bottom {
    height: 20px;
    bottom: none;
    top: 268px;
}

.yk-pack .pos-bottom {
    position: absolute;
    bottom: 6px;
}

.yk-pack .p-info {
    width: 180px;
    margin: 0 10px;
    color: #DEDEDE;
}

.yk-pack .p-info .status {
    margin-bottom: 6px;
    overflow: visible;
}

.yk-pack .p-info li {
    white-space: nowrap;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yk-pack .p-time {
    color: #FFF;
    position: relative;
    float: right!important;
    margin-top: 2px;
    height: 18px;
    line-height: 18px;
}

.yk-pack .p-info li {
    white-space: nowrap;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yk-pack .p-time .ibg {
    border-radius: 2px;
    position: absolute;
    display: block;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    -ms-filter: alpha(opacity=50);
    filter: alpha(opacity=50);
    z-index: 0;
}

.yk-pack .p-time {
    color: #FFF;
    position: relative;
    float: right!important;
    margin-top: 2px;
    height: 18px;
    line-height: 18px;
}

.yk-pack .p-info li {
    white-space: nowrap;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yk-pack .p-time span {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    height: 18px;
    line-height: 18px;
    z-index: 10;
}

.box-series .info-list {
    height: 70px;
    margin-bottom: 0;
    margin-top: 1px;
}

.pack-film .info-list {
    padding: 5px 5px 5px 0;
}

li.title {
    color: #333;
    margin-bottom: 2px;
}

.pack-film .info-list .title {
    height: 18px;
    line-height: 18px;
    overflow: hidden;
}

.box-series .info-list li {
    width: 200px;
    float: left;
    padding: 0;
    line-height: 18px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.p-info li {
    list-style:none
}


.box-series .info-list li.actor {
    color: #999;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box-series .info-list li em {
    color: #999;
    font-style: normal
}

li.actor a {
    color: #999;
}

.yk-pager {
    text-align: center;
    line-height: 0;
}

.yk-pager .yk-pages {
    height: 30px;
    margin: 20px;
    display: inline-block;
}

.yk-pager .yk-pages li {
    float: left;
    margin-right: 5px;
}

.yk-pager .yk-pages .prev span, .yk-pager .yk-pages .next span {
    min-width: 0;
    width: 60px;
    padding: 0;
    color: #c6c6c6;
}

.yk-pager .yk-pages span {
    display: block;
    color: #555;
    background: #fff;
    min-width: 14px;
    _width: 14px;
    height: 28px;
    padding: 0 7px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #eee;
    font-size: 14px;
}

.ad-w100 {
    margin-top:50px;
    text-align:center;
    width: 1080px;
}

.contain {
    width: 100%;
}



.time_pic {
    margin-top: 8px;
    padding: 0 10px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

.time_con {
    padding-right: 10px;
}

.time_con {
    position: relative;
    width: 95%;
}

.con24 .swiper-container {
    padding-bottom: 0;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-container {
    width: 100%;
    color: #fff;
    text-align: center;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.mb20 {
    margin-bottom: 20px;
}

.swiper-container .swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.time_pic ul {
    width: 100%;
}

.clear {
    zoom: 1;
}

ol, ul, li {
    list-style: none;
}

.time_pic li {
    margin-left: 8px;
}

.time_pic li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}

.time_pic.list li a:visited {
    color: #CCC;
}

.time_pic.list li a {
    color: #333;
}

a, button {
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.time_pic.list li em {
    width: 100%;
    margin: 0;
}

.time_pic.list li em, .time_pic.list li ins {
    text-align: left;
    border-bottom: 1px dashed #e5e5e5;
    line-height: 1.8rem;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.time_pic.list li span {
    font-size: 0.75rem;
    background: #f68;
    border-radius: 4px 4px;
    padding: 0px 5px;
    color: #fff;
    margin-right: 6px;
}
